@font-face {
    font-family: "Annie";
    src: url("../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: "Annie";
    color: #1C21DB;
}
.header{
    background-image: url('../img/cabecerainstalaciones.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.header__lista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
}
.header__h{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: rgb(247, 241, 241);
    margin-top: 80px;
}
.header__h1{
    color: rgb(247, 241, 241);
}
.header__h2{
    color: rgb(247, 241, 241);
}
.header__li{
    list-style: none;
}
.header__a{
    text-decoration: none;
    background-color: #2F90EB;
    border-radius: 25px 25px;
    width: 120px;
    padding: 0.5rem;
    text-transform: uppercase;
    color: rgb(247, 241, 241);
}

.main{
    background-color: aqua;
    height: auto;
}
.main__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.main__article{
    height: 400px;
    background-size: cover;
    background-position: center center;
}
.main__paneles{
    background-image: url('../img/paneles2.jpg'); 
}
.main__baterias{
    background-image: url('../img/baterias2.jpg');
}
.main__transformadores{
    background-image: url('../img/transformadores2.jpg');
}
colores{
    color: #8126EB;
    color: #4313F2;
    color: #1C21DB;
    color: #1351F2;
    color: #2F90EB;
}
.fieldset{
    border: 2px solid #1C21DB;
    border-radius: 25px;
}
label{
    font-size: 1.3rem;
}

.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/cabecerainstalaciones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    font-size: 1.3rem;
}