@font-face {
    font-family: "Annie";
    src: url("../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf");
}
@font-face {
    font-family: "timeNormal";
    src: url("../fonts/TimesNewNormalRegular.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: "timeNormal";
    color: #1C21DB;
}
colores{
    color: #8126EB;
    color: #4313F2;
    color: #1C21DB;
    color: #1351F2;
    color: #2F90EB;
    color: #b6aad7;
    color: #f5f5f5;
}
.header{
    background-image: url('../img/cabecerainstalaciones.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px;
}
.header__lista{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
}
.header__h{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: rgb(247, 241, 241);
    margin-top: 80px;
}
.header__h1{
    color: rgb(247, 241, 241);
}
.header__h2{
    color: rgb(247, 241, 241);
}
.header__li{
    list-style: none;
}
.header__a{
    text-decoration: none;
    background-color: #2F90EB;
    border-radius: 25px 25px;
    width: 120px;
    padding: 0.5rem;
    text-transform: uppercase;
    color: rgb(247, 241, 241);
}
.fa-cart-arrow-down{
    color: rgb(247, 241, 241);
}

.main{
    background-color: #2F90EB;
    height: auto;
}
.main__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.main__article{
    width: 90%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 25px 25px;
    margin: 1rem;
}
.main__paneles{
    background-image: url('../img/paneles2.jpg'); 
}
.main__baterias{
    background-image: url('../img/baterias2.jpg');
}
.main__transformadores{
    background-image: url('../img/transformadores2.jpg');
}

.form__p{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #f0f8ff;
    letter-spacing: 1px;
}
.form__contacto{
    height: 780px;
    background-color: #2F90EB;
}
.formulario{
    display: flex;
    justify-content: center;
    margin: 3rem 14rem 0 14rem;
    background-color: #B7DDFF;
    border-radius: 20px 20px;
    padding: 2rem 0 3rem 0;
}
.form__radio{
    display: flex;
}
.label__radio{
    margin-left: 1rem;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn__radio{
    margin-left: 1rem;
}
.field{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.half label{
    color: #1C21DB;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
    letter-spacing: 2px;
}
.half input{
    background-color: #5d99f3;
    border: solid 1px rgba(255, 255, 255, 0.15);
    padding: 1em;
    width: 500px;
    border-radius: 5px 5px;
    margin-left: 0.5em;
    color: #f0f8ff;
    letter-spacing: 1px;
    font-size: 1rem;
}
.half textarea{
    background-color: #5d99f3;
    border: solid 1px #ffffff26;
    padding: 1em;
    margin-left: 0.5em;
    width: 500px;
    border-radius: 5px 5px;
    color: #f0f8ff;
    letter-spacing: 1px;
    font-size: 1rem;
}
.actions__form{
    margin: 2rem 0 0 1rem;
}
.container__button{
    background-color: #5d99f3;
    text-decoration: none;
    text-align: center;
    padding: 1.2em;
    border: 1px solid #b6aad7;
    border-radius: 20px;
    width: 150px;
    margin-top: 1rem;
    font-size: 0.6em;
    color: #1C21DB;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.container__button:hover{
    background-color: #B7DDFF;
}

.footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/cabecerainstalaciones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.footer__li{
    color: white;
    font-size: 1.3rem;
    list-style: none;
}